# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
.pytest_cache/
*.pyc

# IDE
.idea/
.vscode/

# Environment variables
.env
*.env

# Local databases
*.db
*.sqlite

# Logs
*.log
logs/
data/
*.db

# OS
.DS_Store
Thumbs.db

!data/
!data/batch/
!data/batch/mart_spending_by_fiscal_year.csv