# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
.pytest_cache/
*.pyc

# IDE
.idea/
.vscode/

# Environment variables
.env
*.env
.env.local
.env.*.local

# Local databases
*.db
*.sqlite

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

data/*
!data/streaming/
data/streaming/*
!data/streaming/vendor_payments_streaming_summary.json
!data/streaming/vendor_payments_streaming_department_summary.json